.home {
  .hero {
    position: relative;
    height: 80vh;
    overflow: hidden;
    @include flex-center();

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../../assets/Bitmap@2x.svg');
      background-size: cover;
      background-position: center;
      z-index: 1;
    }

    &-name {
      color: $primary-color;
    }

    .hero-text {
        margin-right: 2em;
        margin-bottom: 1em !important;
    }

    .hero-content {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      text-align: left;
      color: $neutral-black;
      background-color: $neutral-white;
      padding: 4rem 0;
    }
  }
}
