$hero-background-desktop: url("../../assets/homepage/desktop/image-homepage-hero@2x.jpg");
$hero-background-tablet: url("../../assets/homepage/tablet/image-homepage-hero@2x.jpg");
$hero-background-mobile: url("../../assets/homepage/mobile/image-homepage-hero@2x.jpg");

.home {
  padding: 0 3%;
  .hero {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-image {
      position: relative;
      width: 100%;
      padding-top: 100%;
      background-image: $hero-background-mobile;
      background-size: cover;
      background-position: center;
      order: 1;
      z-index: 1;
    }

    &-content {
      position: relative;
      z-index: 2;
      text-align: left;
      color: $neutral-black;
      background-color: $neutral-white;
      order: 2;
      width: 100%;
    }

    &-name {
      color: $primary-color;
    }

    .hero-text {
      margin-bottom: 1.5em;
    }

    // Tablet styles
    @media (min-width: 768px) {
      height: 80vh;
      flex-direction: column;

      &-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        padding-top: 0;
        background-image: $hero-background-tablet;
      }

      &-content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60%;
        padding-top: 3rem;
      }
    }

    // Desktop styles
    @media (min-width: 1025px) {
      &-image {
        background-image: $hero-background-desktop;
      }

      &-content {
        width: 40%;
      }
    }
  }
}
