.footer {
    background-color: $neutral-grey;
    color: rgba($neutral-black, .5);

    &-title {
        all: unset;
        text-transform: uppercase;
        font-family: 'Ibarra Real Nova', serif;
        color: rgba($neutral-black, .7);
        font-size: 1em;
        font-weight: 400;
    }

    &-list {
        list-style-type: none;
        padding-left: 0;

        a {
            text-decoration: none;
            font-family: 'Public Sans', sans-serif;
            font-size: .8em;
            font-weight: 200;
            color: rgba($neutral-black, .7);
        }
    }

    & hr {
        border: 1px solid rgba($neutral-black, .7);
        margin-bottom: 3em;
    }

    &-logo {
        width: 40%;
        height: auto;
    }

    &-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-icon {
        margin-right: .5em;
        font-size: 1.5em;
    }
}