// Button.scss

.btn-primary,
.btn-secondary,
.btn-outline {
  all: unset;
}

.btn {
  all: unset;
  border-radius: 0 !important;
  outline: none !important;
  display: inline-block;
  width: 12em;
  height: 2.2em;
  padding: 1em 2em;
  font-size: 1.6em;
  font-weight: 200 !important;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  @include transition();

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $btn-primary-disabled;
    cursor: not-allowed;
  }

  // Primary button style
  &.btn-primary {
    background-color: $btn-primary-normal;
    border-color: $btn-primary-normal;
    color: $neutral-white;

    &:hover:not(:disabled) {
      background-color: $btn-primary-hover;
      border-color: $btn-primary-hover;
      color: $neutral-white;
    }

    &:active:not(:disabled) {
      background-color: $btn-primary-normal;
      border-color: $btn-primary-normal;
      .btn-icon {
        color: $neutral-white;
        scale: 1.2;
      }
    }
  }
  &:hover:not(:disabled) {
    .btn-icon {
      color: $btn-primary-normal;
    }
  }

  // Secondary button style
  &.btn-secondary {
    background-color: $btn-secondary-normal;
    color: $primary-text-color;
    border-color: $primary-border;

    &:hover:not(:disabled) {
      background-color: #5a6268;
      border-color: #545b62;
    }

    &:active:not(:disabled) {
      background-color: $btn-secondary-normal;
      border-color: $primary-border;
      color: $primary-text-color;
    }
  }

  &-icon {
    font-size: 2.4em;
    margin-left: 0.5em;
    @include transition();
  }
}