.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  @include box-shadow();
  @include transition();

  &-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
  }

  .navbar {
    background-color: $background-color;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    .navbar-brand {
      color: $neutral-black;
      transition: color 0.2s ease;
      display: flex;
      align-items: center;

      &:hover {
        color: $primary-color;
      }
    }

    .nav-link {
      color: rgba($primary-text-color, 0.8);
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 0.07em;
      margin-top: 0.5rem;
      padding-right: 0 !important;
      position: relative;
      transition: color 0.2s ease;
      display: block;
      width: 100%;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }

    .navbar-toggler {
      border: none;
      padding: 0;
      width: 30px;
      height: 30px;
      position: relative;

      &:focus {
        box-shadow: none;
      }

      .navbar-toggler-icon {
        background-image: none;
        position: relative;
        transition: background-color 0.2s ease;

        &, &::before, &::after {
          width: 30px;
          height: 2px;
          background-color: $primary-text-color;
          display: inline-block;
        }

        &::before, &::after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 0.2s ease;
        }

        &::before {
          top: -8px;
        }

        &::after {
          bottom: -8px;
        }

        &.open {
          background-color: transparent;

          &::before {
            top: 0;
            transform: rotate(45deg);
          }

          &::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  // Tablet and desktop styles
  @media (min-width: 769px) {

    &-logo {
      width: 40px;
      height: 40px;
    }

    .navbar {
      padding-left: 0;
      padding-right: 0;

      .nav-link {
        margin-left: 1.5rem;
        margin-top: 0;
        width: auto;
        display: inline-block;
      }
    }
  }
}