.call-to-action {
    // text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-bottom: $default-margin;

    & div {
        width: 33.33%;
        height: 1px;
        background-color: #000;
        margin: 20px 0;
        opacity: 0.2;
    }   
}   
