.about {
height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: $default-margin;
}

.about-image {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.about-text {
    width: 100% ;
    margin-top: 1em;
    margin-bottom: 2em;
}